/*
 * Custom Color Palette
 */

.has-purple-color {
	color: $ecu-purple;
}

.has-dark-purple-color {
	color: $dark-purple;
}

.has-gold-color {
	color: $ecu-gold;
}

.has-grey-color {
	color: $grey;
}

.has-dark-magenta-color {
	color: $pink-purple;
}

.has-teal-color {
	color: $teal-1;
}

.has-black-color {
	color: $black;
}

.has-white-color {
	color: $white;
}

.has-purple-background-color {
	background-color: $ecu-purple;
}

.has-dark-purple-background-color {
	background-color: $dark-purple;
}

.has-gold-background-color {
	background-color: $ecu-gold;
}

.has-grey-background-color {
	background-color: $grey;
}

.has-dark-magenta-background-color {
	background-color: #77216F;
}

.has-teal-background-color {
	background-color: $teal-1;
}

.has-black-background-color {
	background-color: #000000;
}

.has-white-background-color {
	background-color: #FFFFFF;
}