.home-hero {
  width: 100%;
  margin-bottom: 0px !important;
  &:focus {
    outline: none;
  }
  .slide {
    position: relative;
    video {
      width: 100%;
    }
    .caption {
      position: relative;
      background-color: white;
      transition: opacity .5s linear;
      box-shadow: none;
      border-bottom: 1px solid #EEE;
      @include breakpoint(md){
        position: absolute;
        max-width: 350px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        border-bottom: none;
        // left
        &.top-left, &.bottom-left {
          left: 20px;
        }
        // right
        &.top-right, &.bottom-right {
          right: 20px;
        }
        // top
        &.top-left, &.top-right {
          top: 120px!important;
        }
        // bottom
        &.bottom-left, &.bottom-right {
          bottom: 20px;
        }
      }
      .title {
        background-color: #572C86;
        padding: 10px;
        color: white;
        font-family: "Oswald", sans-serif;
        font-size: 17px;
        .container {
          padding: 0px;
        }
      }
      .description {
        padding: 10px;
        font-size: 15px;
        font-family: "Quattrocento", serif;
        background-color: $white;
        .container {
          padding: 0px;
        }
        p {
          margin: 0px;
          a {
            font-weight: bold;
            text-decoration: none;
            border-bottom: 1px solid #be9fdf;
            color: #572C86;
            &:hover {
              border-bottom: 1px solid #572C86;
            }
          }
        }
        button {
          margin-bottom: 10px;
        }
      }
    }
  }
}
.slick-dots {
  position: absolute;
  top: 10px;
  bottom: 0px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  height: 0px !important;
  @include breakpoint(md){
    bottom: 35px;
    top: auto;
  }
  @include breakpoint(lg){
    bottom: 50px;
    top: auto;
  }
  li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    &.slick-active {
      button {
        &:before {
          color: $ecu-purple;
        }
      }
    }
    button {
      font-size: 0;
      line-height: 0;
      display: block;
      width: 20px;
      height: 20px;
      padding: 5px;
      cursor: pointer;
      color: transparent;
      border: 0;
      outline: none;
      background: transparent;
      &:before {
        color: white;
        font-size: 15px;
        opacity: 1;
        height: 100%;
      }
      &:focus {
        &:before {
          border: 2px solid $ecu-gold;
        }
      }
      &.playpause {
        &.play {
          &:before {
            font-family: $font-awesome;
            font-size: 15px;
            content: "\f04b";
            color: $white;
          }
          &:focus {
            &:before {
              border: 2px solid $ecu-gold;
            }
          }
        }
        &.pause {
          &:before {
            font-family: $font-awesome;
            font-size: 15px;
            content: "\f04c";
          }
          &:focus {
            &:before {
              border: 2px solid $ecu-gold;
            }
          }
        }
      }
    }
  }
}
