.tax-service-category {
    .term-desc {
        margin-bottom: 2em;
    }
    .service {
        h2 {
            padding-bottom: .5em;
            margin-bottom: .5em;
            border-bottom: 1px dashed rgba(0,0,0,0.1);
        }
    }
}
